{% extends 'mandir/base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mb-4">{{ notice.title }}</h1>
        <div class="mt-4 text-gray-600">
            <p>{{ notice.created_at|date:"Y-m-d" }}</p>
        </div><br>
        <div class="prose max-w-none">
            {{ notice.description|linebreaks }}
        </div>
        
        {% if notice.image %}
        <div class="mb-6">
            <img src="{{ notice.image.url }}" alt="{{ notice.title }}" 
                 class="w-full rounded-lg shadow-md">
        </div>
        {% endif %}


        

    </div>
</div>
{% endblock %}